extends layout

block content
  h3(class='main-title-color') Category: #{category.name}

  div(style='margin-left:20px;margin-top:20px')

    ul(class='list-group')
      each gear in category_gear
        li(class='list-group-item')
          a(href=gear.url) #{gear.name}
          dd #{gear.brand} - #{gear.price}$ - #{gear.number_in_stock} in stock

      else
        h5 This category has no gear.
  
  hr
  p
    a(href=category.url+'/delete') Delete category
  p
    a(href=category.url+'/update') Update category