extends layout

block content
  h1= title

  ul
    each gear in gear_list
      li
        a(href=gear.url) #{gear.name}
        |  (#{gear.brand}) - #{gear.category.name}

    else
      li There is no climbing gear in the store.
