extends layout

block content
  h1(class='main-title-color')= title
  h4= subtitle
  | &nbsp;
  if error
    h5 Error getting overview of the store.
  else
    h5 Here are the shop's live stats

    ul(class='list-group')
      li(class='list-group-item') #[strong Total Different Categories:] !{data.categories_count}
      li(class='list-group-item') #[strong Total Different Equipment:] !{data.gear_count}
      li(class='list-group-item') #[strong Total Number of Brands:] !{list_of_brands.length}
      li(class='list-group-item') #[strong All Brands Sold:] !{list_of_brands} 
      li(class='list-group-item') #[strong Total Price of All Items:] !{total_price} $
      li(class='list-group-item') #[strong Total Number of Items in Stock:] !{total_instock}
